
html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.Container{
  max-width: 1100px;
  width:100%;
  margin:auto;
  margin-top:33px;
}



/* Removes the clear button from date input */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* for index */
.HomeLayout{
    background-color: #F5F5F5;
    font-size: 20px;
    padding: 10px;
    overflow:auto;
    display:flex;
    flex-direction: column;
}

.RatingBreakDownContainer{
        gap:1rem;
        margin-top:50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }